{% extends 'lisandro/base.html' %}
{% load static %}

{% block content %}
<script defer src="{% static 'lisandro/js/modal.js' %}"></script>
<section>
    <div class="titulos">
        <h2 class="titulo-secundario titulo-portfolio">Portafolio</h2>
        <h1 class="titulo-principal">Mis proyectos</h1>
    </div>


        <div id="react-root"></div>
        <link rel="stylesheet" href="{% static 'lisandro/assets/index-CKzzvfyG.css' %}">
        <script type="module" src="{% static 'lisandro/assets/index-BBQzQX2S.js' %}"></script>
</section>


{% endblock  %}