{% extends 'lisandro/base.html' %}
{% load static %}

{% block content %}
<script defer src="{% static 'lisandro/js/modal.js' %}"></script>
<section>
    <div class="titulos">
        <h2 class="titulo-secundario titulo-portfolio">Portafolio</h2>
        <h1 class="titulo-principal">Mis proyectos</h1>
    </div>

    <div class="filtros-container">
        <ul class="filtros-list">
            <li class="{% if not request.GET.estado %} active {% endif %}">
                <a class="filtros-option" href="{% url 'portfolio:proyectos_lista' %}">Todo</a>
            </li>
            <li class="{% if request.GET.estado == 'terminado' %} active {% endif %}">
                <a class="filtros-option" href="{% url 'portfolio:proyectos_lista' %}?estado=terminado">Terminado</a>
                <i class="bi bi-circle-fill" style="color: green; font-size: small;"></i>
            </li>
            <li class="{% if request.GET.estado == 'en_desarrollo' %} active {% endif %}">
                <a class="filtros-option" href="{% url 'portfolio:proyectos_lista' %}?estado=en_desarrollo">En desarrollo</a>
                <i class="bi bi-circle-fill" style="color: blue; font-size: small;"></i>
            </li>
            <li class="{% if request.GET.estado == 'cancelado' %} active {% endif %}">
                <a class="filtros-option" href="{% url 'portfolio:proyectos_lista' %}?estado=cancelado">Cancelado</a>
                <i class="bi bi-circle-fill" style="color: red; font-size: small;"></i>
            </li>
        </ul>
    </div>
    <div class="portafolio-container">
        {% for proyecto in proyectos %}
        <div class="portafolio-item">
            <div class="portafolio-wrap">
                <h4>{{ proyecto.nombre }}</h4>
                <img src="{{ proyecto.imagen.url }}" class="portafolio-img">
                <p class="parrafo">{{ proyecto.categoria }}</p>
                <i class="bi bi-plus-lg link-portafolio" id="modal-open-{{ forloop.counter }}"></i>
            </div>
        </div>

        <div class="modal" id="modal-{{ forloop.counter }}">
            <div class="modal__container">
                <div class="modal-tittle">
                    <h1>{{ proyecto.nombre }}</h1>
                    <span id="modal-close-{{ forloop.counter }}">X</span>
                </div>
                <div class="modal-main">
                    <div class="modal-img">
                        <img src="{{ proyecto.imagen.url }}" alt="">
                    </div>
                    <div class="modal-content">
                        <h3>Información del proyecto</h3>
                        <ul>
                            <li>Categoria:<span>{{proyecto.categoria}}</span></li>
                            <li>Fecha de inicio: <span>{{proyecto.fecha_inicio}}</span></li>
                            <li>Estado del proyecto: <span>{{ proyecto.get_estado_display }}</span></li>
                            <li>Tecnologias aplicadas: <span>{{proyecto.lenguajes}}</span></li>
                        </ul>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </div>
                <div class="modal-link">
                    <a href="{{proyecto.url}}" class="link-portafolio">Ir al repositorio <i class="bi bi-box-arrow-in-up-right"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


    
{% endblock  %}