{% extends 'lisandro/base.html' %}
{% load static %}

{% block content %}

<section>

    <div class="titulos">
        <h2 class="titulo-secundario titulo-contacto">Contacto</h2>
        <h1 class="titulo-principal">Datos de contacto</h1>
    </div>
    {% if mensaje_exito %}
    <div class="mensaje">
        <p>{{ mensaje_exito }}</p>
    </div>
    {% endif %}
    <div class="container-contacto">
            <div class="info-box">
                <i class="bi bi-geo-alt icon"></i>
                <div class="text-content">
                    <h3>Ubicacion</h3>
                    <p>Rosario, Argentina</p>
                </div>
            </div>
            <div class="info-box">
                <i class="bi bi-envelope-at icon"></i>
                <div class="text-content">
                    <h3>Email</h3>
                    <p>leonelisandro@gmail.com</p>
                </div>
                
            </div>
            <div class="info-box">
                <i class="bi bi-envelope-at icon"></i>
                <div class="text-content">
                    <h3>Links Externos</h3>
                    <ul>
                        <li class="links"><a class="contacto-icons" href="https://www.linkedin.com/in/leone-lisandro/"><i class="bi bi-linkedin "></i></a> </li>
                        <li class="links"><a class="contacto-icons" href="https://github.com/LisandroLeone1"><i class="bi bi-github"></i></a></li>
                        <li class="links"><a class="contacto-icons" href="https://wa.me/+5493416721105"><i class="bi bi-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="info-box">
                <i class="bi bi-telephone icon"></i>
                <div class="text-content">
                    <h3>Telefono</h3>
                    <p>+543416721105</p>
                </div>
            </div>
    </div>

    <div class="form-container">
        <h2>FORMULARIO DE CONTACTO <span>(Todos los campos son obligatorios)</span></h2>
        <form class="form__form" method="post">
            {% csrf_token %}
            <div class="form__input name">
                <label for="{{ formulario.nombre.id_for_label }}">Nombre:
                {{ Formulario.nombre }}
                </label>
            </div>
            <div class="form__input lastname">
                <label for="{{ formulario.apellido.id_for_label }}">Apellido:
                {{ Formulario.apellido }}
                </label>
            </div>
            <div class="form__input email">
                <label for="{{ formulario.email.id_for_label }}">Email:
                {{ Formulario.email }}
                </label>
            </div>
            <div class="form__input messege">
                <label for="{{ formulario.mensaje.id_for_label }}">Mensaje:
                {{ Formulario.mensaje }}
                </label>
            </div>
            <div class="form__input button">
                <button type="submit">Enviar</button>
            </div>    
        </form>
    </div>

</section>


{% endblock content %}