{% extends 'lisandro/base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="titulos">
        <h2 class="titulo-secundario">Acerca de mí</h2>
        <h1 class="titulo-principal">Aprende mas sobre mí</h1>
    </div>
    <div class="contenedor">
        <div class="img-container">
            <div class="backgroud-image">
                <div class="img-color"></div>
            </div>
        </div>
        <div class="contenido-container">
            <p>
                Desde joven, he sentido un gran interes por la tecnología y la computación. Aunque mi carrera profesional comenzó en otro 
                rubro, en 2017 me recibi de técnico en Higiene y Seguridad, y he desarrollado una sólida trayectoria profesional en este campo,
                adquiriendo habilidades valiosas en gestión de riesgos y cumplimiento normativo. Durante mi experiencia, 
                he perfeccionado mis capacidades de comunicación, trabajo en equipo y coordinación de equipos, habilidades que considero
                fundamentales en cualquier entorno profesional.
                <br>
                <br>
                En 2023, decidí hacer un cambio y dar un paso hacia lo que hacia mucho tiempo queria estudiar: programación. Mis primeros
                pasos los di haciendo un curso del sistema de gestion de base de datos relacionales SQL Server, el cual me proporcionó una base 
                sólida en la gestión de bases de datos y la estructura de datos. Luego segui con Python, interiorisandome en el desarrollo 
                de software, y continué con el framework Django, con el cual desarrollé mi primer modelo de aplicación web.. Aunque el proyecto 
                se basó en una librería virtual relativamente simple, me permitió adquirir experiencia práctica en diseño y desarrollo de 
                aplicaciones. También desarrollé un modelo de tienda virtual. Esta tienda incluye una base de datos de productos que se puede
                gestionar desde un panel de administración, un carro de compras que permite añadir productos y un sistema de inicio de sesión 
                para usuarios, permitiendo crear nuevas cuentas o iniciar sesión en cuentas existentes.
                <br>
                <br>
                Mi aprendizaje no se detuvo ahí; también estudie HTML y CSS, herramientas clave para el desarrollo frontend.
                Gracias a estos conocimientos, pude crear una página web moderna y completamente responsive, la cual estás viendo 
                actualmente. Este proyecto me ha permitido aplicar mis habilidades en programación y diseño web para ofrecer una
                experiencia de usuario óptima.
                <br>
                <br>
                Actualmente, me encuentro en un proceso continuo de aprendizaje, perfeccionando mis habilidades en JavaScript y aplicándolas 
                en proyectos prácticos. Estoy desarrollando un proyecto de e-commerce como freelance, donde combino tecnologías 
                como Django, CSS y JavaScript para crear una aplicación web moderna y responsive.. Tambien busco oportunidades como programador
                para aplicar y expandir mis competencias en un entorno profesional, y estoy convencido de que mi experiencia
                en gestión y mis habilidades técnicas aportarán un valor significativo a su equipo.
                <br>
                <br>
                Estoy entusiasmado por la oportunidad de comenzar esta nueva etapa profesional y contribuir a proyectos innovadores
                en el ámbito tecnológico.
            </p>
        </div>
    </div>
</section>

{% endblock content %}