{% extends 'lisandro/base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="titulos">
        <h2 class="titulo-secundario">Acerca de mí</h2>
        <h1 class="titulo-principal">Aprende mas sobre mí</h1>
    </div>
    <div class="contenedor">
        <div class="img-container">
            <div class="backgroud-image">
                <div class="img-color"></div>
            </div>
        </div>
        <div class="contenido-container">
            <p>
                Desde joven, he sentido un gran interés por la tecnología y la computación. Aunque mi carrera profesional comenzó en otro rubro, en 2017 me recibí de Técnico en Higiene y Seguridad, desarrollando una sólida trayectoria en este campo y adquiriendo habilidades valiosas en gestión de riesgos y cumplimiento normativo. A lo largo de mi experiencia, he perfeccionado mis capacidades de comunicación, trabajo en equipo y coordinación de equipos, habilidades que considero fundamentales en cualquier entorno profesional.
                <br>
                <br>
                En 2023, decidí dar un giro a mi carrera y comenzar a estudiar programación, un área que siempre me había interesado. Mis primeros pasos fueron con un curso de SQL Server, que me proporcionó una base sólida en la gestión de bases de datos y estructuras de datos. Luego, me adentré en Python y en el framework Django, con el cual desarrollé mi primera aplicación web. Aunque se trataba de una biblioteca virtual relativamente simple, me permitió adquirir experiencia práctica en diseño y desarrollo de aplicaciones. Posteriormente, desarrollé un modelo de tienda virtual que incluía una base de datos de productos administrable desde un panel, un carrito de compras y un sistema de inicio de sesión para usuarios.
                <br>
                <br>
                Mi aprendizaje no se detuvo ahí; también estudié HTML, CSS, JavaScript y React, herramientas clave para el desarrollo frontend. Gracias a estos conocimientos, pude crear una página web moderna y completamente responsive, la cual estás viendo actualmente. Este proyecto me ha permitido aplicar mis habilidades en programación y diseño web para ofrecer una experiencia de usuario óptima.
                <br>
                <br>
                Actualmente, me encuentro en un proceso continuo de aprendizaje, perfeccionando mis habilidades en JavaScript y React, aplicándolas en proyectos prácticos. Estoy desarrollando un proyecto de e-commerce como freelance, donde combino tecnologías como Django, CSS, JavaScript y React para crear una aplicación web moderna y responsive. También busco oportunidades como programador para aplicar y expandir mis competencias en un entorno profesional. Estoy convencido de que mi experiencia en gestión y mis habilidades técnicas pueden aportar un valor significativo a cualquier equipo.
                <br>
                <br>
                Estoy entusiasmado por la oportunidad de comenzar esta nueva etapa profesional y contribuir a proyectos innovadores en el ámbito tecnológico.
            </p>
        </div>
    </div>
</section>

{% endblock content %}